* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
}

body {
    background: #f7f9fc;
    padding: 20px;
    color: #333;
}

a {
    text-decoration: none;
    color: #e57373;
    font-weight: 600;
}

a:hover {
    text-decoration: underline;
}

h2 {
    text-align: center;
    margin: 20px 0;
    font-size: 28px;
    color: #d9534f;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fffdfd;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
    border-radius: 8px;
    overflow: hidden;
}

th,
td {
    border-bottom: 1px solid #f1b3b3;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #f8c7c7;
    color: #b22222;
    font-weight: 600;
}

tr:hover td {
    background: #f9fbff;
}

input[type="text"] {
    padding: 8px 10px;
    border: 1px solid #cfd9e6;
    border-radius: 8px;
    width: 100%;
    transition: 0.2s;
}

input[type="text"]:focus {
    border-color: #b22222;
    outline: none;
    background: #f5faff;
}

button {
    padding: 10px 18px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.2s;
    font-weight: 600;
}

button[name="update_notes"] {
    background: #b22222;
    font-size: 12px;
    color: white;
}

button[name="update_notes"]:hover {
    background: #e85a5a;
}

#xoa {
    background: #b22222;
    font-size: 12px;
    color: white;
}

#xoa:hover {
    background: #e85a5a;
}

button[name="submit_order"] {
    background: #b22222;
    color: white;
    padding: 12px 25px;
    font-size: 16px;
}

button[name="submit_order"]:hover {
    background: #e85a5a;
}

.total-section p {
    font-size: 28px;
    color: #211f1f;
    margin-bottom: 10px;
}

@media (max-width: 768px) {
    table,
    thead,
    tbody,
    th,
    td,
    tr {
        font-size: 13px;
    }
    input[type="text"] {
        width: 100%;
    }
    button {
        padding: 8px 13px;
        font-size: 14px;
    }
}